@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
    margin-top: 0;

  }
  #about,
  #experience,
  #skills,
  #contact,
  #projects {
    height: fit-content;

  }
  .profile-hero,
  .profile-hero,
  .about-hero,
  .skills-hero,
  .experience-hero,
  .contact-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

  
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
#hamburger-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 10; /* Ensure it is above other elements */
}
  #experience,
  .experience-details-container{
    margin-top: 2rem;
  }
  #profile,
  .section-container  {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  #contact
  {
    margin-top: 2rem;
  }

  
  .contact-left-title {
    text-align: center;
    margin-top: 2rem;
  }
  
  .contact-left-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 80%;
  }
  
  .contact-inputs {
     flex: 1 1 100%; /* Full width */
  min-width: 0; /* Allow flex items to shrink */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 0.5rem; /* Padding inside the input */
  margin-bottom: 1rem; /* Margin below each input */
  }
  
  textarea.contact-inputs {
    flex: 1 1 calc(100% - 2rem); /* Ensure textarea takes full width minus the gap */
    height: 150px; /* Set height for textarea */
  }

  
  
}
  
@media screen and (max-width: 600px) {

  
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: 50%;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .section__pic-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .contact-inputs {
    flex: 1 1 calc(50% - 2rem); /* Half width minus the gap on larger screens */
  }
  textarea.contact-inputs {
    flex: 1 1 calc(100% - 2rem); /* Textarea remains full width */
  }
}

